.edit-project-container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
   
  }
  
  .form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header-title {
    font-size: 1.5rem;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .form-row {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #status{
    width: 90px;
    height: 50px;
    
  }
  #dueDate{
    width: 130px;
    border: none;
  }
  select.form-control {
    text-align-last: center; /* Center align text in select dropdown */
  }

  .btn {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
  }
  